h2 {
    background-color: black;
    color: white;
    padding: 20px;
    font-family: Arial;
    text-align: center;
    margin-left: 1000px;
    margin-right: 1000px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 25px;
}

h3 {
    background-color: gray;
    color: black;
    padding: 10px;
    font-family: Arial;
    text-align: center;
    margin-left: 1000px;
    margin-right: 1000px;
    border-radius: 25px;
}

p {
    background-color: white;
    color: black;
    font-family: Arial;
    font-size: larger;
    text-align: center;
    margin-left: 1000px;
    margin-right: 1000px;
   
}