.cat-container {
    border: 1px solid transparent;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 50vw;
}

.cat-heading {
    background-color: #16812a;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.prod-name {
    background-color: gray;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.prod-info {
    background-color: white;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    text-align: center;

   
}