h1 {
    background-color: rgb(4, 129, 42);
    color: rgb(255, 255, 255);
    padding: 20px;
    font-family: Arial;
    text-align: center;
    margin-right: 1000px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 25px 10px;
    font-size: 35px;
}
